{% load static %}

<!-- <audio id="myAudio" autoplay>
	<source src="{% static './css/hey.mp3'%}" type="audio/mpeg">
  </audio> -->

<div class="row full-height">
	<div class="col-12 d-flex justify-content-center">
		<div class="fixbtm mt-3 mb-3">
			<div class="col-12">
				<p class="all-head text-center ">Live Now</p>
			</div>
			{% for radiolink in radiolinks %}
				<audio id="Sample" autoplay>
					<source src="{{ radiolink.url }}" type="audio/mp4">
				</audio>
			{% endfor %}
			<a class="btn btn-play" onClick="togglePlay()">
				  <i class="fas fa-pause playbtn whenplay"></i>

			</a>
			<button class="btn btn-play" onclick="muteAudio()" type="button">
				<i class="fas fa-volume-up playbtn whenvol"></i>
			</button>
		</div>
	</div>
</div>
