.track-grid{
    /* border: 1px solid red; */
-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(255,255,252,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(255,255,252,0);
    
}

.push50{
    margin-top: 170px;
}

.track-imgart img{

}

.track-title{
    background-color: #0c101b;
}

.track-title p{
    text-align: center;
    margin-top:20px;
    color: #fff;
}

.main-heading-light{
    color: #fff;
    font-size: 2rem;
}

