body{
    background-color: #4847a2;
    padding: 0;
    margin: 0;
}

.bordwhite{
    /* border: red 1px solid; */
}

.grid-80{
    height: 60vh !important;
}

.grid-20{
    
    height: 30vh;
}


.playergrid{
    min-height: 150px;
    border: #100f50 1px solid;
}


.gridbord{
    border: #100f50 1px solid;
    min-height: 150px;


}
.owl-carousel .owl-stage {
    display: flex;
  }

 .owl-carousel .owl-item img {
    width: 100%;
    height: 100% !important;
  }





 .slidergrid{
    height: 50%;
 }


 .bordright{
     /* border-right: #fff 1px solid; */
     border-right-width: 80% ;
 }

 .owl-artist .owl-stage {
    display: flex;
  }

 .owl-artist .owl-item img {
  }

.scrollgrid-main{

}

  .scroller{
      position: absolute;
      overflow-y: scroll;
      
      max-height: 100vh;
  }




  /* player styles starts here__________________________________________________________________ */


  /* player styles ends here__________________________________________________________________ */