{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="forbg">
<div class=" d-flex justify-content-center">
    <div class="card col-8 mt-5">
        <h2 class="text-center mt-5">About Bob's Radio</h2>
        <br>
        <p class="ml-5 mr-5 thetext text-center mb-5">
            Hey Bob , we are an internet radio station that resonates the heart of colloquial Bangalore!
Based out of the green Garden City our love for music focuses on showcasing the talents of independent, budding artists that culminates with the vibe and drive of its people; with no language barrier ..
        </p>
    </div>

</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>


{% endblock content %}