{% extends 'main.html' %}
{% load static %}


{% block content %}
<div class="bgcolor d-flex justify-content-center">
    <div class="col-8">
        <h2 class="text-center to-white mt-5">About Bob's Radio</h2>
        <br>
        <p class="ml-5 mr-5 thetext text-center to-white">
            Hey Bob , we are an internet radio station that resonates the heart of colloquial Bangalore!
Based out of the green Garden City our love for music focuses on showcasing the talents of independent, budding artists that culminates with the vibe and drive of its people; with no language barrier ..
        </p>
    </div>
</div>



{% endblock content %}