{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row card mt-4">
        
        <div class="col-12 mb-3">
            <h2 class="text-center mt-4">Contact Bob's Radio </h2>
        </div>

        <div class="col-12 mb-3">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-4">
                    <p class="mt-3 text-center">
                        <i class="fas fa-envelope-square iconscon-black">
                        </i>
                        <br/>
                        <br/>
                        contact@bobsradio.live
                    </p>
                </div>
           
            <div class="col-12 col-md-4 col-lg-4">
                <p class="mt-3 text-center">
                    <i class="fas fa-phone-square-alt iconscon-black">
                    </i>
                    <br>
                    <br>
                    +91 9916658455
                </p>
            </div>
            
            <div class="col-12 col-md-4 col-lg-4">
                <p class="mt-3 text-center">
                    <span class="artdetahead">Follow</span>
                    <br>
                    <br>
                    <a href="https://www.facebook.com/BoBs-Radio-109160751652982">
                        <i class="fab fa-facebook-square iconscon-black ml-3"></i> 
                    </a>
                    <a href="https://www.instagram.com/p/CYiyvhhv0y7/?utm_medium=copy_link">
                        <i class="fab fa-instagram-square iconscon-black ml-3"></i> 
                    </a>
                </p>
            </div>
        </div>
            
        </div>
        
        <div class="col-12 p-0">
            <iframe class="img-fluid mapframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.18541003027!2d77.6185523!3d12.9368525!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x505ca81b5202b76d!2sNAKED%20EYE%20MOTION%20PICTURES%20PRIVATE%20LIMITED!5e0!3m2!1sen!2sin!4v1647492226556!5m2!1sen!2sin" 
                loading="lazy">
            </iframe>
        </div>
    </div>
    </div>
    <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>

{% endblock content %}