{% extends 'main.html' %}
{% load static %}


{% block content %}

<div class="forbg">
    <div class="row p-0">

        <div class="col-12 col-md-4 col-lg-4">
            <div class="row d-flex justify-content-center">
                <div class="col-8 col-md-6 col-lg-6 phonegrid mt-3 mt-md-5 mt-lg-5 p-0">
                    <div class="disappear">
                        <div class="owl-carousel">
                            <div class="slidgrid">
                            <img src="{% static './img/grid1.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="slidgrid">
                            <img src="{% static './img/grid2.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="slidgrid">
                            <img src="{% static './img/grid3.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="slidgrid">
                            <img src="{% static './img/grid1.jpg' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                
                {% include 'player.html' %}
                    
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-8 stick">
            <div class="stuck-child">
                <div class="row">

                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 col-md-10 col-lg-10 mt-4">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        {% for slider in sliders %}
                                            {% if forloop.first %}
                                            <div class="carousel-item active">
                                            {% else %}
                                                <div class="carousel-item">
                                            {% endif %}
                                                <a href="{{ slider.route }}">

                                                    <img class="img-fluid bannerimgsize" class="h-50 d-inline-block" src="{{ slider.image.url}}" alt="{{slider.title}}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                            </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0 maingrid">
                        <div class="row d-flex justify-content-center">
                        
                            <div class="col-10 mt-4">

                                <div class="row">
                                    <div class="col-10 ">
                                        <p class="all-head main-title-white ml-1">Bob's Artist</p>
                                    </div>
                                </div>

                                <div class="row artist-row mt-2 mb-5 d-flex justify-content-md-between justify-content-lg-between">
                                    {% for artist in artists %}
                                    <div class="col-6 col-md-3 col-lg-3 track-grid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row no-gutters">
                                                    <div class="col-12 containerr">
                                                        <a href="{% url 'artistdetails' artist.id %}">
                                                            <img src="{{ artist.image.url }}" alt="Avatar" class="img-fluid image p-0 track-imgart">
                                                        </a>
                                                        <div class="overlay">
                                                            <a href="{% url 'artistdetails' artist.id %}">
            
                                                                <div class="text"><i class="fas fa-info-circle consi"></i> <br>
                                                                    Read More 
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 track-title">
                                                        <p>{{ artist.artist_name }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="col-12">
                                        <a class="decorationnone" href="/artist">
                                            <p class="text-right towhite">Read More ></p>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="row d-flex justify-content-center">
                                
                                    <div class="col-10 mt-4">
                    
                                        <div class="row">
                                            <div class="col-10 ">
                                                <p class="all-head main-title-white ml-1">Bob's Podcast</p>
                                            </div>
                                        </div>
                    
                                        <div class="row artist-row mt-2 mb-5 d-flex justify-content-md-between justify-content-lg-between">
                                            {% for podcast in podcasts %}
                                            <div class="col-12 col-md-3 col-lg-3 mt-4">
                                                <div class="row artist-grid d-flex justify-content-center">
                                                    <div class="col-9 p-0">
                                                        <iframe scrolling="no" class="img-fluid podcastiframe" src="{{ podcast.url }}" frameborder="0"></iframe>
                                                    </div>
                                                    <div class="col-12 track-title">
                                                        <p class="text-center podcast-title to-white mt-2">
                                                            {{ podcast.title }}
                                                        </p>
                                            
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="col-12">
                                                <a class="decorationnone" href="/artist">
                                                    <p class="text-right towhite">Read More ></p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="row d-flex justify-content-center">
                                
                                    <div class="col-10 mt-4">
                    
                                        <div class="row">
                                            <div class="col-10 ">
                                                <p class="all-head main-title-white ml-1">Bob's TV</p>
                                            </div>
                                        </div>
                    
                                        <div class="row artist-row mt-2 mb-5 d-flex justify-content-md-between justify-content-lg-between">
                                            {% for tvbob in tvbobs %}
                                            <div class="col-12 col-md-3 col-lg-3 mt-4">
                                                <div class="row artist-grid d-flex justify-content-center">
                                                    <div class="col-9 p-0">
                                                        <iframe scrolling="no" class="img-fluid tviframe" src="{{ tvbob.url }}" frameborder="0"></iframe>
                                                    </div>
                                                    <div class="col-12 track-title">
                                                        <p class="text-center podcast-title to-white mt-2">
                                                            {{ tvbob.title }}
                                                        </p>
                                            
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="col-12">
                                                <a class="decorationnone" href="/artist">
                                                    <p class="text-right towhite">Read More ></p>
                                                </a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="row d-flex justify-content-center">
                                
                                    <div class="col-10 mt-4">

                                        <div class="row">
                                            <div class="col-10 ">
                                                <p class="all-head main-title-white ml-1">Blog</p>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-md-center justify-content-lg-center">
                                            <div class="col-10 col-md-3 col-lg-12 mt-4">
                                                <div class="row blog-grid  justify-content-md-around justify-content-lg-around">
                                                    
                                                    {% for blog in blogs %}
                                                    <div class="col-10 col-md-5 col-lg-5 card artistnamegrid mb-4">
                                                        <div class="row">
                                                            <div class="col-12 col-md-6 col-lg-6 p-0">
                                                            <a href="{% url 'blogdetails' blog.id %}">
                                                                <img src="{{ blog.Img.url }}" alt="Avatar" class="img-fluid image">
                                                            </a>
                                                            </div>
                                                            <div class="col-12 col-md-6 col-lg-6">
                                                                <a href="{% url 'blogdetails' blog.id %}">

                                                                    <p class="blogtitle mt-1">
                                                                        {{ blog.title }}
                                                                    </p>
                                                                </a>
                                                                    
                                                                    <p class="blogdescp">
                                                                        {{ blog.blog_text|safe|truncatechars:80  }}
                                                                    </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    <div class="col-12">
                                                        <a class="decorationnone" href="/artist">
                                                            <p class="text-right towhite">Read More ></p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                
            </div>

        </div>

    </div>

</div>


{% endblock content %}