{% extends 'main.html' %}
{% load static %}


{% block content %}


<div class="row p-0">

    <div class="col-12 grid-80 p-0 m-0 bordwhite">

        <div class="row">
            <div class="col-4 bordright">
                <div class="row grid-80 d-flex justify-content-center align-items-center">
                    <div class="col-6    slidergrid bordwhite">
                            <!-- <div class="owl-carousel">
                                <div class="slidgrid">
                                    <img src="{% static './img/grid1.jpg' %}" alt="" class="img-fluid">
                                </div>
                                <div class="slidgrid">
                                    <img src="{% static './img/grid2.jpg' %}" alt="" class="img-fluid">
                                </div>
                                <div class="slidgrid">
                                    <img src="{% static './img/grid3.jpg' %}" alt="" class="img-fluid">
                                </div>
                                <div class="slidgrid">
                                    <img src="{% static './img/grid4.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div> -->
                            {% include 'player.html' %}

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 grid-20 p-0 m-0">
                        <div class="row d-flex justify-content-center">
                            <!-- <div class="col-8 playergrid">
                                <div class="row d-flex align-items-stretch">
                                    
                                    <div class="col-12 gridbord">
                                      

                                    </div>
                                
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-8 scrollgrid-main bordwhite">
                <div class="row scroller">
                    <div class="col-12 p-0 maingrid">
                        <div class="row d-flex justify-content-center">
                         
                            <div class="col-10 mt-4">

                                <div class="row">
                                    <div class="col-10 mt-4">
                                        <p class="all-head main-title-white">Bob's Artist</p>
                                    </div>
                                </div>

                                <div class="row artist-row mt-2 mb-5 d-flex justify-content-between">
                                    {% for artist in artists %}
                                    <div class="col-2 track-grid">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row no-gutters">
                                                    <div class="col-12 containerr">
                                                        <a href="{% url 'artistdetails' artist.id %}">
                                                            <img src="{{ artist.image.url }}" alt="Avatar" class="img-fluid image p-0 track-imgart">
                                                        </a>
                                                        <div class="overlay">
                                                            <a href="{% url 'artistdetails' artist.id %}">
            
                                                                <div class="text"><i class="fas fa-info-circle consi"></i> <br>
                                                                    Read More 
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 track-title">
                                                        <p>{{ artist.artist_name }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                  
                                </div>
                                
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="all-head main-title-white">Bob's Podcast</p>
                                    </div>
                                </div>
                                <div class="row  mb-5 d-flex justify-content-center justify-content-lg-between">
                                    {% for podcast in podcasts %}
                                    <div class="col-8 col-md-3 col-lg-3 mt-4">
                                        <div class="row artist-grid">
                                            <div class="col-12 p-0">
                                                <!-- <img src="{{ artist.image.url }}" alt="" class="img-fluid artist-img" /> -->
                                                <iframe class="img-fluid podcastiframe" src="{{ podcast.url }}" frameborder="0"></iframe>
                                            </div>
                                            <div class="col-12 track-title">
                                                <p class="text-center podcast-title to-white mt-2">
                                                    {{ podcast.title }}
                                                </p>
                                    
                                            </div>
                                        </div>
                                    </div>
                            
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                     
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-10">
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <p class="all-head main-title-white">Bob's Podcast</p>
                                    </div>
                                </div>
                                <div class="row  mb-5 d-flex justify-content-center justify-content-lg-between">
                                    {% for podcast in podcasts %}
                                    <div class="col-8 col-md-3 col-lg-3 mt-4">
                                        <div class="row artist-grid">
                                            <div class="col-12 p-0">
                                                <!-- <img src="{{ artist.image.url }}" alt="" class="img-fluid artist-img" /> -->
                                                <iframe class="img-fluid podcastiframe" src="{{ podcast.url }}" frameborder="0"></iframe>
                                            </div>
                                            <div class="col-12 track-title">
                                                <p class="text-center podcast-title to-white mt-2">
                                                    {{ podcast.title }}
                                                </p>
                                    
                                            </div>
                                        </div>
                                    </div>
                            
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                     
                    </div>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-10">
                                <div class="row mt-5">
                                    <div class="col-12">
                                        <p class="all-head main-title-white">Bob's Podcast</p>
                                    </div>
                                </div>
                                <div class="row  mb-5 d-flex justify-content-center justify-content-lg-between">
                                    {% for podcast in podcasts %}
                                    <div class="col-8 col-md-3 col-lg-3 mt-4">
                                        <div class="row artist-grid">
                                            <div class="col-12 p-0">
                                                <!-- <img src="{{ artist.image.url }}" alt="" class="img-fluid artist-img" /> -->
                                                <iframe class="img-fluid podcastiframe" src="{{ podcast.url }}" frameborder="0"></iframe>
                                            </div>
                                            <div class="col-12 track-title">
                                                <p class="text-center podcast-title to-white mt-2">
                                                    {{ podcast.title }}
                                                </p>
                                    
                                            </div>
                                        </div>
                                    </div>
                            
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                     
                    </div>

                </div>
            </div>

        
        </div>
    </div>
</div>









{% endblock content %}